:root {
  --font-body: "Inter", sans-serif;
  --font-heading: "Chelsea Market";

  /* spacing scale */
  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 3rem;

  /* radius tokens */
  --radius-1: 0.5rem;
  --radius-2: 1rem;

  /* border width tokens */
  --border-1: 0.1rem;
  --border-2: 0.5rem;
}

.light {
  --md-sys-color-primary: rgb(117 78 56);
  --md-sys-color-surface-tint: rgb(117 78 56);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 220 203);
  --md-sys-color-on-primary-container: rgb(48 25 12);

  --md-sys-color-secondary: rgb(107 81 121);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(244 218 255);
  --md-sys-color-on-secondary-container: rgb(45 25 55);

  --md-sys-color-tertiary: rgb(76 99 126);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(212 229 255);
  --md-sys-color-on-tertiary-container: rgb(21 46 71);

  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);

  --md-sys-color-background: rgb(255 248 245);
  --md-sys-color-on-background: rgb(32 28 27);
  --md-sys-color-surface: rgb(255 248 245);
  --md-sys-color-on-surface: rgb(32 28 27);

  --md-sys-color-surface-variant: rgb(241 223 216);
  --md-sys-color-on-surface-variant: rgb(81 68 63);
  --md-sys-color-outline: rgb(132 115 108);
  --md-sys-color-outline-variant: rgb(216 195 188);

  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);

  --md-sys-color-inverse-surface: rgb(53 47 44);
  --md-sys-color-inverse-on-surface: rgb(246 239 235);
  --md-sys-color-inverse-primary: rgb(239 184 155);

  --md-sys-color-primary-fixed: rgb(255 220 203);
  --md-sys-color-on-primary-fixed: rgb(48 25 12);
  --md-sys-color-primary-fixed-dim: rgb(239 184 155);
  --md-sys-color-on-primary-fixed-variant: rgb(92 55 37);

  --md-sys-color-secondary-fixed: rgb(244 218 255);
  --md-sys-color-on-secondary-fixed: rgb(45 25 55);
  --md-sys-color-secondary-fixed-dim: rgb(223 191 233);
  --md-sys-color-on-secondary-fixed-variant: rgb(82 60 94);

  --md-sys-color-tertiary-fixed: rgb(212 229 255);
  --md-sys-color-on-tertiary-fixed: rgb(21 46 71);
  --md-sys-color-tertiary-fixed-dim: rgb(182 205 240);
  --md-sys-color-on-tertiary-fixed-variant: rgb(54 76 102);

  --md-sys-color-surface-dim: rgb(225 215 210);
  --md-sys-color-surface-bright: rgb(255 248 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(252 242 237);
  --md-sys-color-surface-container: rgb(246 236 231);
  --md-sys-color-surface-container-high: rgb(240 230 225);
  --md-sys-color-surface-container-highest: rgb(234 224 219);

  --status-recent-container: rgb(207 239 216);
  --on-status-recent-container: rgb(20 91 46);

  --status-due-soon-container: rgb(255 224 178);
  --on-status-due-soon-container: rgb(112 55 0);

}

.dark {
  --md-sys-color-primary: rgb(239 184 155);
  --md-sys-color-surface-tint: rgb(239 184 155);
  --md-sys-color-on-primary: rgb(73 37 18);
  --md-sys-color-primary-container: rgb(92 55 37);
  --md-sys-color-on-primary-container: rgb(255 220 203);

  --md-sys-color-secondary: rgb(223 191 233);
  --md-sys-color-on-secondary: rgb(59 39 70);
  --md-sys-color-secondary-container: rgb(82 60 94);
  --md-sys-color-on-secondary-container: rgb(244 218 255);

  --md-sys-color-tertiary: rgb(182 205 240);
  --md-sys-color-on-tertiary: rgb(39 59 84);
  --md-sys-color-tertiary-container: rgb(54 76 102);
  --md-sys-color-on-tertiary-container: rgb(212 229 255);

  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);

  --md-sys-color-background: rgb(25 19 17);
  --md-sys-color-on-background: rgb(238 224 219);
  --md-sys-color-surface: rgb(25 19 17);
  --md-sys-color-on-surface: rgb(238 224 219);

  --md-sys-color-surface-variant: rgb(81 68 63);
  --md-sys-color-on-surface-variant: rgb(216 195 188);
  --md-sys-color-outline: rgb(160 140 132);
  --md-sys-color-outline-variant: rgb(81 68 63);

  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);

  --md-sys-color-inverse-surface: rgb(238 224 219);
  --md-sys-color-inverse-on-surface: rgb(53 47 44);
  --md-sys-color-inverse-primary: rgb(117 78 56);

  --md-sys-color-primary-fixed: rgb(255 220 203);
  --md-sys-color-on-primary-fixed: rgb(48 25 12);
  --md-sys-color-primary-fixed-dim: rgb(239 184 155);
  --md-sys-color-on-primary-fixed-variant: rgb(92 55 37);

  --md-sys-color-secondary-fixed: rgb(244 218 255);
  --md-sys-color-on-secondary-fixed: rgb(45 25 55);
  --md-sys-color-secondary-fixed-dim: rgb(223 191 233);
  --md-sys-color-on-secondary-fixed-variant: rgb(82 60 94);

  --md-sys-color-tertiary-fixed: rgb(212 229 255);
  --md-sys-color-on-tertiary-fixed: rgb(21 46 71);
  --md-sys-color-tertiary-fixed-dim: rgb(182 205 240);
  --md-sys-color-on-tertiary-fixed-variant: rgb(54 76 102);

  --md-sys-color-surface-dim: rgb(25 19 17);
  --md-sys-color-surface-bright: rgb(61 53 50);
  --md-sys-color-surface-container-lowest: rgb(19 14 13);
  --md-sys-color-surface-container-low: rgb(34 27 25);
  --md-sys-color-surface-container: rgb(39 32 30);
  --md-sys-color-surface-container-high: rgb(49 41 38);
  --md-sys-color-surface-container-highest: rgb(60 52 49);

  --status-recent-container: rgb(18 74 40);
  --on-status-recent-container: rgb(181 242 196);

  --status-due-soon-container: rgb(97 58 0);
  --on-status-due-soon-container: rgb(255 215 160);
}